<span class="name">{{name}}</span>
<div class="pull-right">
	<span class="points">
		{{#repeat size}}
			<span class="point"></span>
		{{/repeat}}
	</span>
	<span class="settings" title="Settings" data-action="edit" >
		<i class="fa fa-gear"></i>
	</span>
</div>